

/* Add any global styles or reset styles if needed */

.login_form_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../../Compenat//Assets//back.jpg');
    background-size: cover;
    position: relative;
  }
  
  /* Ajoutez ces styles pour ajuster le contenu de votre formulaire par-dessus le dégradé */
  .login_form_content {
    z-index: 2;
    /* Autres styles pour votre contenu de formulaire */
  }
  

.login_form {
  background-color: rgba(255, 255, 255, 0.8); /* Adjust the transparency as needed */
  padding: 20px;
  border-radius: 8px;
  width: 500px;
  height: 500px; /* Adjust the width as needed */
}

.login_form h2 {
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 70px;
}

.input_group {
  position: relative;
  margin-bottom: 15px;
}

.input_group i {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #121212; /* Adjust the icon color */
}

.input_text {
  width: calc(100% - 20px);
  padding: 20px;
  padding-left: 30px; /* Ensure space for the icon */
  border: 1px solid #ccc; /* Adjust the border color */
  border-radius: 10px;
}

.button_group {
  text-align: center;
}

.button_group button {
  padding: 10px 20px;
  background-color: rgb(175, 76, 112); /* Adjust the button color */
  color: #fff; /* Adjust the text color */
  border: none;
  border-radius: 4px;
  height: 50px;
  width: 400px;
  cursor: pointer;
}

.fotter {
  text-align: center;
  margin-top: 20px;
}

.fotter a {
  margin-right: 10px;
  text-decoration: none;
  color: #333; /* Adjust the link color */
}
